*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#6e546d;
}

.calculator{
background: #e6eef6;
padding:30px;
border-radius:30px;
width:420px;   
}

.display{
background:#e2c7ea;
padding:18px;
border-radius:20px;
margin-bottom:20px;
}

.display input{
width:100%;
border:none;
background:transparent;
font-size:32px;
text-align:right;
color:#462445;
outline:none;
}

.buttons{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:12px;
}

button{
padding:14px;
border:none;
border-radius:14px;
background:#cba8d0;
font-size:18px;
cursor:pointer;
color:#3c1e3f;
transition:0.15s;
}

button:active{
transform:scale(0.95);
}

.func{
background:#c18fc6;
}

.enter{
grid-column:span 2;
background:#562f5f;
color:white;
font-weight:bold;
}